@using Guzhikova.Task10;
@using Guzhikova.Task6.Entities;
@using System.Globalization;

@{
    Layout = "~/Pages/Layouts/_FullLayout.cshtml";
    Page.Title = "Users and awards";

    WebManage manage = new WebManage();
    int userIndex = 0;
    int awardIndex = 0;

    IEnumerable<User> users = manage.UserLogic.GetAll();
    IEnumerable<Award> awards = manage.AwardLogic.GetAll();

    string entity = Request.QueryString["entity"] ?? "";


    if (IsPost)
    {

        if (entity == "user")
        {
            manage.AddUser(Request["userName"], Request["dateOfBirth"], Request["awards"]);
        }
        else if (entity == "award")
        {
            manage.AddAward(Request["awardTitle"]);
        }
    }else if(Request.QueryString["action"] == "delete")
    {
        manage.Delete(entity, Request.QueryString["id"]);
    }



}


<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#section-1" role="tab" aria-controls="section-1" aria-selected="true">Users</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#section-2" role="tab" aria-controls="section-2"
           aria-selected="false">Awards</a>
    </li>
</ul>

<div class="tab-content">
    <section class="tab-pane fade show active" id="section-1" role="tabpanel" aria-labelledby="home-tab">
        <table class="table table-hover table-dark table-sm">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Date of birth</th>
                    <th scope="col">Age</th>
                    <th scope="col">Awards</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in users)
                {
                    <tr title="User ID = @user.Id">
                        <th scope="row">@(userIndex++)</th>
                        <td>@user.Name</td>
                        <td>@user.DateOfBirth.ToString("d MMMM, yyyy", CultureInfo.CreateSpecificCulture("en-US"))</td>
                        <td>@user.Age</td>
                        <td>
                            @{
                                var userAwards = manage.AwardLogic.GetUserAwardsByUserId(user.Id);
                            }

                            @if (userAwards != null)
                            {
                                foreach (var item in userAwards)
                                {
                                    @item.Title <text>&#8195;</text>

                                }
                            }
                        </td>
                        <td>
                            <a href="~/Pages/Confirmation?entity=user&id=@user.Id" title="Delete"> <img class="img-icon" src="~/Content/images/delete.svg"></a><text>&#8195;</text>
                            <a href="~/Pages/UserEditor?id=@user.Id" title="Edit"> <img class="img-icon" src="~/Content/images/edit.svg"></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <a href="~/Pages/UserEditor?action=create" class="btn btn-success">Create new USER</a>
    </section>

    <section class="tab-pane fade" id="section-2" role="tabpanel" aria-labelledby="profile-tab">
        <table class="table table-hover table-dark table-sm">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var award in awards)
                {
                    <tr title="Award ID = @award.Id">
                        <th scope="row">@(awardIndex++)</th>
                        <td>@award.Title</td>
                        <td>
                            <a href="~/Pages/Confirmation?entity=award&id=@award.Id" title="Delete"> <img class="img-icon" src="~/Content/images/delete.svg"></a><text>&#8195;</text>
                            <a href="#" title="Edit"> <img class="img-icon" src="~/Content/images/edit.svg"></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <a href="~/Pages/AwardEditor" class="btn btn-success">Create new AWARD</a>
    </section>
</div>

